[submodule "stimuli"]
	path = stimuli
	url = git@github.com:courtois-neuromod/movie10.stimuli.git
	datalad-id = a9ff7995-4d2d-4ea7-9b23-ec17f0c66a61
	datalad-url = git@github.com:courtois-neuromod/movie10.stimuli.git
